@font-face {
    font-family: SpaceMono-Regular;
    src: url(/font/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: FivoSansModern-Regular;
    src: url(/font/FivoSansModern-Regular.otf);
}

@font-face {
    font-family: FivoSansModern-Bold;
    src: url(/font/FivoSansModern-Bold.otf);
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family:'FivoSansModern-Regular','FivoSansModern-Bold';
}

body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 2%;
    margin: auto;
    align-items: center;
}

header a {
    display: flex;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    gap: 25px;
    color: black;
    font-family: 'SpaceMono-Regular';
    letter-spacing: -1px;
}

nav {

    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 2%;
    margin: auto;
    align-items: center;
}

nav a {
    color: black;
}

main {
    width: 100%;
}

.school-logo {
    width: 4rem;
}

#school-nav,
#project-nav,
#study-areas-nav {
    display: none;
}

.about {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.about > img {
    width: 25%;
    padding: 2%;
}

.about-content {
    padding: 5%;
    border-left: 1px solid black;
}

.about-content > p {
    font-size: 2rem;
}

.about-content > p > span {
    font-size: 1rem;
}

.login-button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 10px;
    width: 7rem;
}

.video-insert {
    text-align: center;
    padding: 2%;
}

.video-insert > p {
    font-size: 150%;
    font-family: 'FivoSansModern-Bold';
    padding: 2%;
}

iframe {
    padding: 2%;
    border: 1% solid;
}
